<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav id="title-container">{% include nav.html %}</nav>
    <div class="wrapper">
      <main id="home-container">
        <content>
          {{ content }}
        </content>
        <side>
          <h3 style="margin-bottom: 1em">Projects</h3>
          <ul>
            {% assign pages = site.pages | uniq | sort:"title" %}
            {% for i in pages %}
              {% if i.navigation_include == true %}
                <li><a class="internal-link" href="{{ site.baseurl }}{{ i.permalink }}">{{ i.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>

        </side>
      </main>
      <footer>{% include footer.html %}</footer>
    </div>

  </body>
</html>
